.core-profile {
    position: relative;
    z-index: 10;
    width: 85px;
    height: 85px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: #fff;
}

.core-profile>img {
    z-index: 10;
    width: -webkit-fill-available;
    border: 2px solid #c2cccf;
    border-radius: 100px; 
}

.profile-point {
    position: absolute;
    z-index: 10;
    bottom: -16px;
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--Gray-Main, #868686);
    color: var(--Gray-Main, color(display-p3 0.5274 0.5274 0.5274));
    font-family: 'Satoshi', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
}

/* Define CSS variables for SVG icons */
.buttonContainer-home img.buttonIcon-home {
    --stroke-0: #1246FF;
    --fill-0: #F2F4F7;
}