.experience-percent {
    width: 100%;
}

/* View Detail Button Positioning */
.view-detail {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;
}